<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="active_directory_wpf_msgraph_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <active_directory_wpf_msgraph_v2.Properties.Settings>
                <setting name="postman_environment" serializeAs="String">
                        <value>Microsoft Graph environment</value>
                </setting>
                <setting name="postman_api_key" serializeAs="String">
                        <value>Postman API Key</value>
                </setting>
                <setting name="postman_collection_id" serializeAs="String">
                        <value>Postman Collection ID</value>
                </setting>
        </active_directory_wpf_msgraph_v2.Properties.Settings>
    </userSettings>
</configuration>